version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: insurance
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: insurance
    volumes:
      - insurance-data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  insurance-data:


